# IDEs
.vscode/
.idea/

# virtual environments
venv*/

# python compilates
*__pycache__*
*.pyc

# *.pyx stuff
*.c
*.cpython*
*.pyd
*build/

./log/
./log_tensorboard/
./recbole_tmp/
./saved/

# experiments other than the example subfolder
experiments/*
!experiments/example/
experiments/example/*
!experiments/example/input/
